/Software/build
/Software/monitor/__pycache__
Software/__pycache__/config.cpython-314.pyc
Software/__pycache__/config.cpython-314.pyc
Software/build/ransomwaredetector/Analysis-00.toc
/Software/build
